flows.json
[
    {
        "id": "e097c56d8514ee03",
        "type": "tab",
        "label": "Accounts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1ec7d98a9a611cb",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50403954cd1dbac8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1501954bf9e99f8b",
        "type": "group",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Parameters",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "b3b09bb9500edcbd",
            "723bbe4e944f4883",
            "a7596e63981f3587",
            "b6d5e0ab208eed3f",
            "5c2aa4bebcabb836",
            "71ec3c081518ecf1",
            "31da712b128fd3c9",
            "821c18b950002fcc",
            "b4e222d84ed77ec3",
            "70cbc20a96243ebc",
            "abf797c2fec0a97d",
            "b7c5707309027d29",
            "3f60315dc2d5f40f",
            "57a47c152e624b1b",
            "d0ba49367006c3e3",
            "2eab4c8627455c7b",
            "1e25a012206a4eab"
        ],
        "x": 24,
        "y": 759,
        "w": 692,
        "h": 262
    },
    {
        "id": "8d83a744a15b4052",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongodb-36-rhel7",
        "port": "",
        "dbName": "cumulus_bank",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "426cbda084eb3a93",
        "type": "comment",
        "z": "e097c56d8514ee03",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "847ffc1833a1cfcc",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/healthz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "6cbc305afa0bb4b8"
            ]
        ]
    },
    {
        "id": "354908121805285a",
        "type": "http response",
        "z": "e097c56d8514ee03",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "8dadba91ea7f2afe",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "a1f5ee5c9b88cd9f"
            ]
        ]
    },
    {
        "id": "b85f5720498171dc",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "insertOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "196dc291e7c5f850"
            ]
        ]
    },
    {
        "id": "0b6713959eed2fd3",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "b85f5720498171dc"
            ]
        ]
    },
    {
        "id": "6e1877a744aa3385",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/bill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "579953cf293196f7"
            ]
        ]
    },
    {
        "id": "d5aae727a64bde65",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/balanceUpdate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "81d3465152f55d2a"
            ]
        ]
    },
    {
        "id": "78109142c0ced8a0",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/transaction",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "9726bf865b471a99"
            ]
        ]
    },
    {
        "id": "df24a68054cefd4e",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccountID/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "df07e7964969fcfc"
            ]
        ]
    },
    {
        "id": "7c38f207a736b6ab",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "1246630feed2256a"
            ]
        ]
    },
    {
        "id": "a7aedad3158d6403",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "8198e5c825054146"
            ]
        ]
    },
    {
        "id": "5fef9ad5b573dad3",
        "type": "http response",
        "z": "e097c56d8514ee03",
        "name": "",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1f5ee5c9b88cd9f",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "find",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "find",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "75f95f0a0577b848"
            ]
        ]
    },
    {
        "id": "f544d43ebe9e00f9",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/activate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "d278ae18425ef659"
            ]
        ]
    },
    {
        "id": "75f95f0a0577b848",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "sort by ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{}, {\"sort\": \"ID\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "e9b1aef540f6c047"
            ]
        ]
    },
    {
        "id": "9ac785dc4004ef89",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "e98643a0cf955fe6",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\t       \"$set\": {\t           \"Account.$[].Activate\": true,\t           \"Account.$[].Balance\": 10000\t       }\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "9f7d41ed69390e45",
                "e9b1aef540f6c047"
            ]
        ]
    },
    {
        "id": "9f7d41ed69390e45",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "b993a899731210c9",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "29eeaa4b284ca282",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\t       $set: {\t           \"Billing.$[].Payed\": true,\t           \"Billing.$[].Price\": 0 \t       } \t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "e9b1aef540f6c047",
                "420b1267880d76af"
            ]
        ]
    },
    {
        "id": "e016ec660ff2121c",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = null ? [] : [payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "354908121805285a",
                "2839f9245eb71baf"
            ]
        ]
    },
    {
        "id": "e9b1aef540f6c047",
        "type": "mongodb4",
        "z": "e097c56d8514ee03",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "b993a899731210c9",
                "e016ec660ff2121c"
            ]
        ]
    },
    {
        "id": "2839f9245eb71baf",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "6cbc305afa0bb4b8",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "Set Response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "354908121805285a"
            ]
        ]
    },
    {
        "id": "771f4a4ec84be235",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[selector]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "e9b1aef540f6c047",
                "c0a1aacf7850d956"
            ]
        ]
    },
    {
        "id": "71ec3c081518ecf1",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "queryParam",
        "links": [],
        "x": 65,
        "y": 940,
        "wires": [
            [
                "5c2aa4bebcabb836"
            ]
        ]
    },
    {
        "id": "31da712b128fd3c9",
        "type": "link out",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 940,
        "wires": []
    },
    {
        "id": "df07e7964969fcfc",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b3b09bb9500edcbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "771f4a4ec84be235"
            ]
        ]
    },
    {
        "id": "821c18b950002fcc",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "bodyParams",
        "links": [],
        "x": 65,
        "y": 980,
        "wires": [
            [
                "b4e222d84ed77ec3"
            ]
        ]
    },
    {
        "id": "b4e222d84ed77ec3",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "Set ID from body",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "req.body.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 980,
        "wires": [
            [
                "abf797c2fec0a97d"
            ]
        ]
    },
    {
        "id": "70cbc20a96243ebc",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "Set ID Param",
        "rules": [
            {
                "t": "set",
                "p": "selector",
                "pt": "msg",
                "to": "{\"ID\": $number(id)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 940,
        "wires": [
            [
                "31da712b128fd3c9"
            ]
        ]
    },
    {
        "id": "5c2aa4bebcabb836",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "Set ID from params",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "req.params.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "abf797c2fec0a97d"
            ]
        ]
    },
    {
        "id": "09a47054f241f3f7",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\"$set\": payload},\t   {\"new\": true}\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "9ac785dc4004ef89",
                "e9b1aef540f6c047"
            ]
        ]
    },
    {
        "id": "d278ae18425ef659",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b6d5e0ab208eed3f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "e98643a0cf955fe6"
            ]
        ]
    },
    {
        "id": "3daf0983f47f9cac",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\t       \"$push\": {\t           \"Transaction\": {\t               \"Product\":req.body.Product,\t               \"Price\":req.body.Price,\t               \"AccountID\":req.body.AccountID,\t               \"AccountName\": req.body.AccountName,\t               \"Type\":req.body.Type,\t               \"Date\":req.body.Date\t          }\t        }\t      }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "e9b1aef540f6c047",
                "1e8fe5690180319b"
            ]
        ]
    },
    {
        "id": "efd5295f7c0251da",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\t       $set: {\t           \"Account.$[].Balance\": req.body.balance \t       }\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "e9b1aef540f6c047",
                "8266dc8f9b7c38c6"
            ]
        ]
    },
    {
        "id": "b6d5e0ab208eed3f",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "findOneAndUpdate",
        "links": [],
        "x": 65,
        "y": 880,
        "wires": [
            [
                "d0ba49367006c3e3"
            ]
        ]
    },
    {
        "id": "579953cf293196f7",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b6d5e0ab208eed3f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "29eeaa4b284ca282"
            ]
        ]
    },
    {
        "id": "81d3465152f55d2a",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b6d5e0ab208eed3f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "efd5295f7c0251da"
            ]
        ]
    },
    {
        "id": "9726bf865b471a99",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b6d5e0ab208eed3f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "3daf0983f47f9cac"
            ]
        ]
    },
    {
        "id": "1246630feed2256a",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "b6d5e0ab208eed3f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "09a47054f241f3f7"
            ]
        ]
    },
    {
        "id": "8266dc8f9b7c38c6",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "b3b09bb9500edcbd",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "findOne",
        "links": [],
        "x": 65,
        "y": 800,
        "wires": [
            [
                "3f60315dc2d5f40f"
            ]
        ]
    },
    {
        "id": "723bbe4e944f4883",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "deleteOne",
        "links": [],
        "x": 65,
        "y": 840,
        "wires": [
            [
                "57a47c152e624b1b"
            ]
        ]
    },
    {
        "id": "a7596e63981f3587",
        "type": "link out",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 840,
        "wires": []
    },
    {
        "id": "8198e5c825054146",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "name": "Set MongoDB Params",
        "links": [
            "723bbe4e944f4883"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "771f4a4ec84be235"
            ]
        ]
    },
    {
        "id": "1e8fe5690180319b",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "420b1267880d76af",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "c0a1aacf7850d956",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "abf797c2fec0a97d",
        "type": "switch",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 960,
        "wires": [
            [
                "70cbc20a96243ebc"
            ],
            [
                "b7c5707309027d29"
            ]
        ]
    },
    {
        "id": "b7c5707309027d29",
        "type": "link out",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "de48f94b5c1f02de"
        ],
        "x": 495,
        "y": 980,
        "wires": []
    },
    {
        "id": "3d13585745601b65",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"msg\": \"ID missing\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "5fef9ad5b573dad3"
            ]
        ]
    },
    {
        "id": "de48f94b5c1f02de",
        "type": "link in",
        "z": "e097c56d8514ee03",
        "name": "Error",
        "links": [
            "b7c5707309027d29"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "3d13585745601b65"
            ]
        ]
    },
    {
        "id": "3f60315dc2d5f40f",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "findOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "2eab4c8627455c7b"
            ]
        ]
    },
    {
        "id": "57a47c152e624b1b",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "deleteOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "deleteOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "2eab4c8627455c7b"
            ]
        ]
    },
    {
        "id": "d0ba49367006c3e3",
        "type": "change",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "findOneAndUpdate",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOneAndUpdate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "1e25a012206a4eab"
            ]
        ]
    },
    {
        "id": "2eab4c8627455c7b",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "Set Query Params",
        "links": [
            "71ec3c081518ecf1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "a7596e63981f3587"
            ]
        ]
    },
    {
        "id": "1e25a012206a4eab",
        "type": "link call",
        "z": "e097c56d8514ee03",
        "g": "1501954bf9e99f8b",
        "name": "Set Body Params",
        "links": [
            "821c18b950002fcc"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "a7596e63981f3587"
            ]
        ]
    },
    {
        "id": "196dc291e7c5f850",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "insert objectIds",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.(\t   $id := function($a) {\t    $count($a) > 0 ? $a.$merge([$, {\"_id\": 1}]) : []\t   };\t\t   {\t       \"ID\": ID,\t       \"CurrentAccount\": CurrentAccount ~> $id(),\t       \"Billing\": Billing ~> $id(),\t       \"Transaction\": Transaction ~> $id(),\t       \"Account\": Account ~> $id()\t    }\t\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "e9b1aef540f6c047"
            ]
        ]
    },
    {
        "id": "95935677c1bdef9c",
        "type": "debug",
        "z": "b1ec7d98a9a611cb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "40c607f8864ab834",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":1},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "bfaf0d56299ed2c0"
            ]
        ]
    },
    {
        "id": "609197c266bee159",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "ID 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1,\"CurrentAccount\":[{\"Balance\":10000,\"CurrentSpending\":10000,\"AccountName\":\"Current Account\"},{\"Balance\":30000,\"CurrentSpending\":30000,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":500,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":100,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "78129fbdc9e6fa29"
            ]
        ]
    },
    {
        "id": "78129fbdc9e6fa29",
        "type": "http request",
        "z": "b1ec7d98a9a611cb",
        "name": "create account",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/accountsvc/listAccount",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "88ec8e278d942da4",
        "type": "debug",
        "z": "b1ec7d98a9a611cb",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "c1eb11f577d6410e",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "ID 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":2,\"CurrentAccount\":[{\"Balance\":20000,\"CurrentSpending\":20000,\"AccountName\":\"Current Account 2\"},{\"Balance\":60000,\"CurrentSpending\":60000,\"AccountName\":\"Saving Account 2\"}],\"Billing\":[{\"Product\":\"Home Entertainment 2\",\"Price\":1000,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone 2\",\"Price\":200,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "78129fbdc9e6fa29"
            ]
        ]
    },
    {
        "id": "3f62466c97dadc63",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/306",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "080a21e414bee688"
            ]
        ]
    },
    {
        "id": "080a21e414bee688",
        "type": "http request",
        "z": "b1ec7d98a9a611cb",
        "name": "delete account",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "a36980da97dd5e41",
        "type": "http request",
        "z": "b1ec7d98a9a611cb",
        "name": "update account",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "466fe83db364ba7e",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/1",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CurrentAccount\":[{\"Balance\":99999,\"CurrentSpending\":99999,\"AccountName\":\"Current Account\"},{\"Balance\":66666,\"CurrentSpending\":66666,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":666,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":222,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "a36980da97dd5e41"
            ]
        ]
    },
    {
        "id": "36bed927dd995202",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/activate",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "432d4d0db9731e4c"
            ]
        ]
    },
    {
        "id": "432d4d0db9731e4c",
        "type": "http request",
        "z": "b1ec7d98a9a611cb",
        "name": "activate account",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "fb762e53bd31f42b",
        "type": "inject",
        "z": "b1ec7d98a9a611cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":6},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bfaf0d56299ed2c0",
        "type": "mongodb4",
        "z": "b1ec7d98a9a611cb",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "95935677c1bdef9c"
            ]
        ]
    },
    {
        "id": "890d52e28151a4aa",
        "type": "inject",
        "z": "50403954cd1dbac8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1,\"CurrentAccount\":[{\"Balance\":10000,\"CuurentSpending\":10000,\"AccountName\":\"Current Account\"},{\"Balance\":30000,\"CuurentSpending\":30000,\"AccountName\":\"Saving Account\"},{\"Balance\":90000,\"CuurentSpending\":90000,\"AccountName\":\"Loan Account\"},{\"Balance\":900000,\"CuurentSpending\":900000,\"AccountName\":\"Mortgage Account\"},{\"Balance\":3000,\"CuurentSpending\":3000,\"AccountName\":\"Charity Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":500,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Water And Electricity\",\"Price\":1000,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":100,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CuurentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CuurentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"},{\"Activate\":false,\"CuurentSpending\":0,\"Balance\":0,\"AccountName\":\"Master Card\"}]}",
        "payloadType": "json",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "104fae01bd40792a"
            ]
        ]
    },
    {
        "id": "104fae01bd40792a",
        "type": "split",
        "z": "50403954cd1dbac8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "eb75550908d52354"
            ]
        ]
    },
    {
        "id": "e34a7f4f3f4e6411",
        "type": "split",
        "z": "50403954cd1dbac8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "da32cb877ebfadcc"
            ]
        ]
    },
    {
        "id": "51b6ed8a92268495",
        "type": "join",
        "z": "50403954cd1dbac8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "61881b17de214b92"
            ]
        ]
    },
    {
        "id": "da32cb877ebfadcc",
        "type": "objectid",
        "z": "50403954cd1dbac8",
        "name": "",
        "selectedProperty": "_id",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "51b6ed8a92268495"
            ]
        ]
    },
    {
        "id": "61881b17de214b92",
        "type": "join",
        "z": "50403954cd1dbac8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "c31324fa7ac99e35"
            ]
        ]
    },
    {
        "id": "c31324fa7ac99e35",
        "type": "debug",
        "z": "50403954cd1dbac8",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb75550908d52354",
        "type": "switch",
        "z": "50403954cd1dbac8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "e34a7f4f3f4e6411"
            ],
            [
                "61881b17de214b92"
            ]
        ]
    }
]