flows.json
[
    {
        "id": "e097c56d8514ee03",
        "type": "tab",
        "label": "Accounts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "426cbda084eb3a93",
        "type": "comment",
        "z": "e097c56d8514ee03",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "95935677c1bdef9c",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "40c607f8864ab834",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":1},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "bfaf0d56299ed2c0"
            ]
        ]
    },
    {
        "id": "609197c266bee159",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "ID 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1,\"CurrentAccount\":[{\"Balance\":10000,\"CurrentSpending\":10000,\"AccountName\":\"Current Account\"},{\"Balance\":30000,\"CurrentSpending\":30000,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":500,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":100,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "78129fbdc9e6fa29"
            ]
        ]
    },
    {
        "id": "847ffc1833a1cfcc",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/healthz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "8900300e99175389"
            ]
        ]
    },
    {
        "id": "354908121805285a",
        "type": "http response",
        "z": "e097c56d8514ee03",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1600,
        "y": 660,
        "wires": []
    },
    {
        "id": "8dadba91ea7f2afe",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "a1f5ee5c9b88cd9f"
            ]
        ]
    },
    {
        "id": "78129fbdc9e6fa29",
        "type": "http request",
        "z": "e097c56d8514ee03",
        "name": "create account",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/accountsvc/listAccount",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "88ec8e278d942da4",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "b85f5720498171dc",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "insertOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "e9b1aef540f6c047"
            ]
        ]
    },
    {
        "id": "0b6713959eed2fd3",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "b85f5720498171dc"
            ]
        ]
    },
    {
        "id": "6e1877a744aa3385",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/bill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d5aae727a64bde65",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/balanceUpdate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "78109142c0ced8a0",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/transaction",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "df24a68054cefd4e",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccountID/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "58abc24dfe5d8ddd"
            ]
        ]
    },
    {
        "id": "7c38f207a736b6ab",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "b3582bea26525619"
            ]
        ]
    },
    {
        "id": "a7aedad3158d6403",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "d2ee0a551c1443cb"
            ]
        ]
    },
    {
        "id": "5fef9ad5b573dad3",
        "type": "http response",
        "z": "e097c56d8514ee03",
        "name": "",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1400,
        "y": 620,
        "wires": []
    },
    {
        "id": "a1f5ee5c9b88cd9f",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "find",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "find",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "75f95f0a0577b848"
            ]
        ]
    },
    {
        "id": "c1eb11f577d6410e",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "ID 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":2,\"CurrentAccount\":[{\"Balance\":20000,\"CurrentSpending\":20000,\"AccountName\":\"Current Account 2\"},{\"Balance\":60000,\"CurrentSpending\":60000,\"AccountName\":\"Saving Account 2\"}],\"Billing\":[{\"Product\":\"Home Entertainment 2\",\"Price\":1000,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone 2\",\"Price\":200,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "78129fbdc9e6fa29"
            ]
        ]
    },
    {
        "id": "58abc24dfe5d8ddd",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "findOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 780,
        "wires": [
            [
                "31bedba30da2d2c7"
            ]
        ]
    },
    {
        "id": "31bedba30da2d2c7",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "Set ID Param",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"ID\": $number(req.params.ID)}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 780,
        "wires": [
            [
                "44bea6d5614e0ab7"
            ]
        ]
    },
    {
        "id": "f544d43ebe9e00f9",
        "type": "http in",
        "z": "e097c56d8514ee03",
        "name": "",
        "url": "/activate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "08deaf410fd1b29e"
            ]
        ]
    },
    {
        "id": "b3582bea26525619",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "findOneAndUpdate",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOneAndUpdate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 820,
        "wires": [
            [
                "28ccbca42dda76cd"
            ]
        ]
    },
    {
        "id": "d2ee0a551c1443cb",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "deleteOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "deleteOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "31bedba30da2d2c7"
            ]
        ]
    },
    {
        "id": "3f62466c97dadc63",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "080a21e414bee688"
            ]
        ]
    },
    {
        "id": "080a21e414bee688",
        "type": "http request",
        "z": "e097c56d8514ee03",
        "name": "delete account",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "44bea6d5614e0ab7",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "75f95f0a0577b848",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "sort by ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{}, {\"sort\": \"ID\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a36980da97dd5e41",
        "type": "http request",
        "z": "e097c56d8514ee03",
        "name": "update account",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "466fe83db364ba7e",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/1",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CurrentAccount\":[{\"Balance\":99999,\"CurrentSpending\":99999,\"AccountName\":\"Current Account\"},{\"Balance\":66666,\"CurrentSpending\":66666,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":666,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":222,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "a36980da97dd5e41"
            ]
        ]
    },
    {
        "id": "9ac785dc4004ef89",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "28ccbca42dda76cd",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"ID\": $number(req.params.ID)}, {\"$set\": payload}, {\"new\": true}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "9ac785dc4004ef89"
            ]
        ]
    },
    {
        "id": "e98643a0cf955fe6",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\"ID\": $number(req.body.ID)},\t   {\t       \"$set\": {\t           \"Account.$[].Activate\": true,\t           \"Account.$[].Balance\": 10000\t       }\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "9f7d41ed69390e45"
            ]
        ]
    },
    {
        "id": "08deaf410fd1b29e",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "findOneAndUpdate",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOneAndUpdate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "e98643a0cf955fe6"
            ]
        ]
    },
    {
        "id": "36bed927dd995202",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/activate",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "432d4d0db9731e4c"
            ]
        ]
    },
    {
        "id": "432d4d0db9731e4c",
        "type": "http request",
        "z": "e097c56d8514ee03",
        "name": "activate account",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "88ec8e278d942da4"
            ]
        ]
    },
    {
        "id": "9f7d41ed69390e45",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b993a899731210c9",
        "type": "debug",
        "z": "e097c56d8514ee03",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 860,
        "wires": []
    },
    {
        "id": "1c3b3dbba1bdef62",
        "type": "json",
        "z": "e097c56d8514ee03",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1390,
        "y": 740,
        "wires": [
            [
                "354908121805285a"
            ]
        ]
    },
    {
        "id": "29eeaa4b284ca282",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\"ID\": $number(req.body.ID)},\t   {\t       \"$inc\": {\t           \"Test\": 1\t       }\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "8900300e99175389",
        "type": "template",
        "z": "e097c56d8514ee03",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "success",
        "output": "str",
        "x": 760,
        "y": 660,
        "wires": [
            [
                "354908121805285a"
            ]
        ]
    },
    {
        "id": "fb762e53bd31f42b",
        "type": "inject",
        "z": "e097c56d8514ee03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":6},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e016ec660ff2121c",
        "type": "change",
        "z": "e097c56d8514ee03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists(payload) ? [payload] : []",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "1c3b3dbba1bdef62"
            ]
        ]
    },
    {
        "id": "bfaf0d56299ed2c0",
        "type": "mongodb4",
        "z": "e097c56d8514ee03",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "95935677c1bdef9c"
            ]
        ]
    },
    {
        "id": "e9b1aef540f6c047",
        "type": "mongodb4",
        "z": "e097c56d8514ee03",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 890,
        "y": 740,
        "wires": [
            [
                "b993a899731210c9",
                "e016ec660ff2121c"
            ]
        ]
    },
    {
        "id": "8d83a744a15b4052",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongodb-36-rhel7",
        "port": "",
        "dbName": "cumulus_bank",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    }
]