flows.json
[
    {
        "id": "1a253c8bb460befd",
        "type": "tab",
        "label": "Accounts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a90e0609cbcd313",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e636a9e22bb8993",
        "type": "group",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Parameters",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "c9a42f1ce9bc1952",
            "391c8060b0c7fda7",
            "94abcd64fb526462",
            "88f3d592e03850fa",
            "4fd5a38b0147ba1a",
            "bd2e2dc2496ca80b",
            "c19b2eb164d83c78",
            "1f859ee992fb8f88",
            "7d593705ee4cda2e",
            "8fbe6d99399aaef3",
            "94490a24d5640ee5",
            "855915a562676b87",
            "d727291b63151266",
            "46f98f972818b75a",
            "6b0658cfdbc20145",
            "5f2d5c805d871171",
            "4d6eac5c10ec9d0a"
        ],
        "x": 24,
        "y": 759,
        "w": 692,
        "h": 262
    },
    {
        "id": "e974a6de56501211",
        "type": "group",
        "z": "1a253c8bb460befd",
        "name": "Set ObjectId",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#ffffbf"
        },
        "nodes": [
            "696a58490d39cec2",
            "67ed56c36ff44691",
            "83ace9d94afc1ec1",
            "e44b708b5003641e",
            "80d0674573a84c15",
            "466a8fe3c390d1b3",
            "89d9520b09f6ec6c",
            "73f6d01e0638f4fc"
        ],
        "x": 24,
        "y": 1059,
        "w": 972,
        "h": 122
    },
    {
        "id": "8d83a744a15b4052",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongodb-36-rhel7",
        "port": "",
        "dbName": "cumulus_bank",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "040c38df3e68bc1c",
        "type": "comment",
        "z": "1a253c8bb460befd",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "4dd7e89007bb79dd",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/healthz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "869b8d5d9aa2e7e0"
            ]
        ]
    },
    {
        "id": "2ae3eed889110041",
        "type": "http response",
        "z": "1a253c8bb460befd",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c891cbe78e2b5cc",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "090e360c9b24a6c9"
            ]
        ]
    },
    {
        "id": "076c0bb9ed6f6212",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "insertOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "69d1b8de0b077831"
            ]
        ]
    },
    {
        "id": "af0cb32eb85f5343",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/listAccount",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "076c0bb9ed6f6212"
            ]
        ]
    },
    {
        "id": "c4b17b17ebdfb734",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/bill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "df954c4b13fdf132"
            ]
        ]
    },
    {
        "id": "49343b63daa55732",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/balanceUpdate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "b208a646fda3cc12"
            ]
        ]
    },
    {
        "id": "0920361103be1eb9",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/transaction",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "a6bc47eea9aef1e8"
            ]
        ]
    },
    {
        "id": "9dc08bed9a660681",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/listAccountID/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "f0062ecf7a1078b5"
            ]
        ]
    },
    {
        "id": "b1e0bb3d38bb6682",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a57b117ac9db3084"
            ]
        ]
    },
    {
        "id": "bcb825f06b4f6a9b",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/listAccount/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "ce7c947bd89fe809"
            ]
        ]
    },
    {
        "id": "d01fc3c9a00e1112",
        "type": "http response",
        "z": "1a253c8bb460befd",
        "name": "",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "090e360c9b24a6c9",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "find",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "find",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "ec09be7df0dff11a"
            ]
        ]
    },
    {
        "id": "bcdbeefb24cdf992",
        "type": "http in",
        "z": "1a253c8bb460befd",
        "name": "",
        "url": "/accountsvc/activate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "041f8aeb95a7dcb2",
                "c4c3c16bf4e535fc"
            ]
        ]
    },
    {
        "id": "ec09be7df0dff11a",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "sort by ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{}, {\"sort\": \"ID\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "5ce1f01630f68de1"
            ]
        ]
    },
    {
        "id": "aedaafc8875d4136",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "188406251a7e3be1",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\"Account._id\": id},\t   {\t       \"$set\": {\t           \"Account.$[e].Activate\": true,\t           \"Account.$[e].Balance\": 10000\t       }\t   },\t   {\t       \"arrayFilters\": [{\"e._id\": id}]\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "d5ea2b53e2cf4f39",
                "5ce1f01630f68de1"
            ]
        ]
    },
    {
        "id": "d5ea2b53e2cf4f39",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "cf963aa0384ea475",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "33e99959829e8d8e",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\"Billing._id\": id},\t   {\t       \"$set\": {\t           \"Billing.$[e].Payed\": true,\t           \"Billing.$[e].Price\": 0 \t       } \t   },\t   {\t       \"arrayFilters\": [{\"e._id\": id}]\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "5ce1f01630f68de1",
                "d89fb09c691450f4"
            ]
        ]
    },
    {
        "id": "eac9772d0c9ef6cd",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = null ? [] : [payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "2ae3eed889110041",
                "afd9ce920ded0e87"
            ]
        ]
    },
    {
        "id": "5ce1f01630f68de1",
        "type": "mongodb4",
        "z": "1a253c8bb460befd",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "cf963aa0384ea475",
                "eac9772d0c9ef6cd"
            ]
        ]
    },
    {
        "id": "afd9ce920ded0e87",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "869b8d5d9aa2e7e0",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "Set Response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "2ae3eed889110041"
            ]
        ]
    },
    {
        "id": "b464d6b237762e32",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[selector]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "5ce1f01630f68de1",
                "95927ee41943bf42"
            ]
        ]
    },
    {
        "id": "bd2e2dc2496ca80b",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "queryParam",
        "links": [],
        "x": 65,
        "y": 940,
        "wires": [
            [
                "4fd5a38b0147ba1a"
            ]
        ]
    },
    {
        "id": "c19b2eb164d83c78",
        "type": "link out",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 940,
        "wires": []
    },
    {
        "id": "f0062ecf7a1078b5",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "c9a42f1ce9bc1952"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "b464d6b237762e32"
            ]
        ]
    },
    {
        "id": "1f859ee992fb8f88",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "bodyParams",
        "links": [],
        "x": 65,
        "y": 980,
        "wires": [
            [
                "7d593705ee4cda2e"
            ]
        ]
    },
    {
        "id": "7d593705ee4cda2e",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "Set ID from body",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "req.body.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 980,
        "wires": [
            [
                "94490a24d5640ee5"
            ]
        ]
    },
    {
        "id": "8fbe6d99399aaef3",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "Set ID Param",
        "rules": [
            {
                "t": "set",
                "p": "selector",
                "pt": "msg",
                "to": "{\"ID\": id}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 940,
        "wires": [
            [
                "c19b2eb164d83c78"
            ]
        ]
    },
    {
        "id": "4fd5a38b0147ba1a",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "Set ID from params",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "$number(req.params.ID)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "94490a24d5640ee5"
            ]
        ]
    },
    {
        "id": "8e6f853878c1008d",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\"$set\": payload},\t   {\"new\": true}\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "aedaafc8875d4136",
                "5ce1f01630f68de1"
            ]
        ]
    },
    {
        "id": "041f8aeb95a7dcb2",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "88f3d592e03850fa"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "188406251a7e3be1"
            ]
        ]
    },
    {
        "id": "a821a65bdd5eb85b",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   selector,\t   {\t       \"$push\": {\t           \"Transaction\": {\t               \"Product\":req.body.Product,\t               \"Price\":req.body.Price,\t               \"AccountID\":req.body.AccountID,\t               \"AccountName\": req.body.AccountName,\t               \"Type\":req.body.Type,\t               \"Date\":req.body.Date\t          }\t        }\t      }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "5ce1f01630f68de1",
                "d4ec9e75f83cca9d"
            ]
        ]
    },
    {
        "id": "b230c3aa318bc398",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "set update options",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\"Account._id\": id},\t   {\t       \"$set\": {\t           \"Account.$[e].Balance\": req.body.balance \t       }\t   },\t   {\t       \"arrayFilters\": [{\"e._id\": id}]\t   }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "5ce1f01630f68de1",
                "d0e1f35cd3b330af"
            ]
        ]
    },
    {
        "id": "88f3d592e03850fa",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "findOneAndUpdate",
        "links": [],
        "x": 65,
        "y": 880,
        "wires": [
            [
                "6b0658cfdbc20145"
            ]
        ]
    },
    {
        "id": "df954c4b13fdf132",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "88f3d592e03850fa"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "33e99959829e8d8e"
            ]
        ]
    },
    {
        "id": "b208a646fda3cc12",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "88f3d592e03850fa"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "b230c3aa318bc398"
            ]
        ]
    },
    {
        "id": "a6bc47eea9aef1e8",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "88f3d592e03850fa"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "a821a65bdd5eb85b"
            ]
        ]
    },
    {
        "id": "a57b117ac9db3084",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "88f3d592e03850fa"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "8e6f853878c1008d"
            ]
        ]
    },
    {
        "id": "d0e1f35cd3b330af",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "c9a42f1ce9bc1952",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "findOne",
        "links": [],
        "x": 65,
        "y": 800,
        "wires": [
            [
                "d727291b63151266"
            ]
        ]
    },
    {
        "id": "391c8060b0c7fda7",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "deleteOne",
        "links": [],
        "x": 65,
        "y": 840,
        "wires": [
            [
                "46f98f972818b75a"
            ]
        ]
    },
    {
        "id": "94abcd64fb526462",
        "type": "link out",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 840,
        "wires": []
    },
    {
        "id": "ce7c947bd89fe809",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "Set MongoDB Params",
        "links": [
            "391c8060b0c7fda7"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "b464d6b237762e32"
            ]
        ]
    },
    {
        "id": "d4ec9e75f83cca9d",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "d89fb09c691450f4",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "95927ee41943bf42",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "94490a24d5640ee5",
        "type": "switch",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 960,
        "wires": [
            [
                "8fbe6d99399aaef3"
            ],
            [
                "855915a562676b87"
            ]
        ]
    },
    {
        "id": "855915a562676b87",
        "type": "link out",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "66502c0b49c06f8c"
        ],
        "x": 495,
        "y": 980,
        "wires": []
    },
    {
        "id": "79525c1799347185",
        "type": "change",
        "z": "1a253c8bb460befd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"msg\": \"ID missing\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "d01fc3c9a00e1112"
            ]
        ]
    },
    {
        "id": "66502c0b49c06f8c",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "name": "Error",
        "links": [
            "855915a562676b87"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "79525c1799347185"
            ]
        ]
    },
    {
        "id": "d727291b63151266",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "findOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "5f2d5c805d871171"
            ]
        ]
    },
    {
        "id": "46f98f972818b75a",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "deleteOne",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "deleteOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "5f2d5c805d871171"
            ]
        ]
    },
    {
        "id": "6b0658cfdbc20145",
        "type": "change",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "findOneAndUpdate",
        "rules": [
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "findOneAndUpdate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "4d6eac5c10ec9d0a"
            ]
        ]
    },
    {
        "id": "5f2d5c805d871171",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "Set Query Params",
        "links": [
            "bd2e2dc2496ca80b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "94abcd64fb526462"
            ]
        ]
    },
    {
        "id": "4d6eac5c10ec9d0a",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "g": "5e636a9e22bb8993",
        "name": "Set Body Params",
        "links": [
            "1f859ee992fb8f88"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "94abcd64fb526462"
            ]
        ]
    },
    {
        "id": "696a58490d39cec2",
        "type": "split",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "80d0674573a84c15"
            ]
        ]
    },
    {
        "id": "67ed56c36ff44691",
        "type": "split",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "466a8fe3c390d1b3"
            ]
        ]
    },
    {
        "id": "83ace9d94afc1ec1",
        "type": "join",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "e44b708b5003641e"
            ]
        ]
    },
    {
        "id": "e44b708b5003641e",
        "type": "join",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 870,
        "y": 1140,
        "wires": [
            [
                "73f6d01e0638f4fc"
            ]
        ]
    },
    {
        "id": "80d0674573a84c15",
        "type": "switch",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "67ed56c36ff44691"
            ],
            [
                "e44b708b5003641e"
            ]
        ]
    },
    {
        "id": "466a8fe3c390d1b3",
        "type": "function",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "Set ObjectID to _id",
        "func": "const mongodb = global.get('mongodb')\nmsg.payload._id = new mongodb.ObjectId();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "83ace9d94afc1ec1"
            ]
        ]
    },
    {
        "id": "89d9520b09f6ec6c",
        "type": "link in",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "Set ObjectIds",
        "links": [],
        "x": 65,
        "y": 1140,
        "wires": [
            [
                "696a58490d39cec2"
            ]
        ]
    },
    {
        "id": "73f6d01e0638f4fc",
        "type": "link out",
        "z": "1a253c8bb460befd",
        "g": "e974a6de56501211",
        "name": "link out 6",
        "mode": "return",
        "links": [],
        "x": 955,
        "y": 1140,
        "wires": []
    },
    {
        "id": "69d1b8de0b077831",
        "type": "link call",
        "z": "1a253c8bb460befd",
        "name": "",
        "links": [
            "89d9520b09f6ec6c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 320,
        "wires": [
            [
                "5ce1f01630f68de1"
            ]
        ]
    },
    {
        "id": "c4c3c16bf4e535fc",
        "type": "debug",
        "z": "1a253c8bb460befd",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "b28e8c78d59190e3",
        "type": "debug",
        "z": "2a90e0609cbcd313",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "6485174980febc3e",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":1},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "e7ddbf5c872f3114"
            ]
        ]
    },
    {
        "id": "e559f769ce3731a2",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "ID 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1,\"CurrentAccount\":[{\"Balance\":10000,\"CurrentSpending\":10000,\"AccountName\":\"Current Account\"},{\"Balance\":30000,\"CurrentSpending\":30000,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":500,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":100,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "671d3f077dd94aea"
            ]
        ]
    },
    {
        "id": "671d3f077dd94aea",
        "type": "http request",
        "z": "2a90e0609cbcd313",
        "name": "create account",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/accountsvc/listAccount",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "42ae76c5d6a9cd27"
            ]
        ]
    },
    {
        "id": "42ae76c5d6a9cd27",
        "type": "debug",
        "z": "2a90e0609cbcd313",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c6120c8c0b7084c",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "ID 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":2,\"CurrentAccount\":[{\"Balance\":20000,\"CurrentSpending\":20000,\"AccountName\":\"Current Account 2\"},{\"Balance\":60000,\"CurrentSpending\":60000,\"AccountName\":\"Saving Account 2\"}],\"Billing\":[{\"Product\":\"Home Entertainment 2\",\"Price\":1000,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone 2\",\"Price\":200,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "671d3f077dd94aea"
            ]
        ]
    },
    {
        "id": "0521b7d0b33c8607",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/306",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "4011c25af7da59d6"
            ]
        ]
    },
    {
        "id": "4011c25af7da59d6",
        "type": "http request",
        "z": "2a90e0609cbcd313",
        "name": "delete account",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "42ae76c5d6a9cd27"
            ]
        ]
    },
    {
        "id": "ac31e9902262930f",
        "type": "http request",
        "z": "2a90e0609cbcd313",
        "name": "update account",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "42ae76c5d6a9cd27"
            ]
        ]
    },
    {
        "id": "9ca3276eaf407baf",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/listAccount/1",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CurrentAccount\":[{\"Balance\":99999,\"CurrentSpending\":99999,\"AccountName\":\"Current Account\"},{\"Balance\":66666,\"CurrentSpending\":66666,\"AccountName\":\"Saving Account\"}],\"Billing\":[{\"Product\":\"Home Entertainment\",\"Price\":666,\"type\":\"bill\",\"Payed\":false},{\"Product\":\"Phone\",\"Price\":222,\"type\":\"bill\",\"Payed\":false}],\"Transaction\":[],\"Account\":[{\"Activate\":false,\"Balance\":0,\"CurrentSpending\":0,\"AccountName\":\"Visa Card\"},{\"Activate\":false,\"CurrentSpending\":0,\"Balance\":0,\"AccountName\":\"American Express\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "ac31e9902262930f"
            ]
        ]
    },
    {
        "id": "c3c0258fca7c959a",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "ID 1",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/accountsvc/activate",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "8fa9adb907df0bce"
            ]
        ]
    },
    {
        "id": "8fa9adb907df0bce",
        "type": "http request",
        "z": "2a90e0609cbcd313",
        "name": "activate account",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "42ae76c5d6a9cd27"
            ]
        ]
    },
    {
        "id": "d85d0ee468db9130",
        "type": "inject",
        "z": "2a90e0609cbcd313",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":6},{}]",
        "payloadType": "json",
        "x": 120,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e7ddbf5c872f3114",
        "type": "mongodb4",
        "z": "2a90e0609cbcd313",
        "clientNode": "8d83a744a15b4052",
        "mode": "collection",
        "collection": "account",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "b28e8c78d59190e3"
            ]
        ]
    }
]